<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/distancecoach</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


        <mapping class="pl.camp.it.distance.coaching.manager.model.User"/>
        <mapping class="pl.camp.it.distance.coaching.manager.model.Coach"/>
        <mapping class="pl.camp.it.distance.coaching.manager.model.BodyParam"/>
        <mapping class="pl.camp.it.distance.coaching.manager.model.Exercise"/>
        <mapping class="pl.camp.it.distance.coaching.manager.model.Result"/>
        <mapping class="pl.camp.it.distance.coaching.manager.model.Training"/>
        <mapping class="pl.camp.it.distance.coaching.manager.model.TrainingUnit"/>
     <mapping class="pl.camp.it.distance.coaching.manager.model.Order"/>
       <mapping class="pl.camp.it.distance.coaching.manager.model.OrderPosition"/>
       <mapping class="pl.camp.it.distance.coaching.manager.model.TrainingPlan"/>
    </session-factory>
</hibernate-configuration>